.main-container{
    margin: 0;
    padding: 5px 50px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    /* border: 1px solid black; */
    height: auto;
}

.left-box {
    margin-top: 20px ;
    padding: 5px 20px;
    display: block;
    justify-content: end;
    width: 20%;
    text-align: center;
    height: auto;
}
.right-box {
    display: flex;
    padding: 0 20px;
    flex-wrap: wrap;
    /* justify-content: center; */
    /* background-color: red; */
    width: 80vw;
    height: 80vh;
    /* overflow: auto; */
    overflow-y: auto;
}

.list-cate{
    display: block;
}

.list-cate .item {
    margin: 5px 0;
    padding: 5px 0;
    display: flex;
    justify-content: space-around;
    height: 100px;
    border: 1px solid #7fb4d8;
    /* cursor: pointer; */
}

.list-cate>.item:hover{
    cursor: pointer;
    background-color: #c4e5fa;
}

.list-cate .item >h1 {
    font-size: 30px;
}
.list-cate .item >img {
    padding: 5px;
    width: 120px;
    border-radius: 5px;
}